/* ==========================================================================
General styles
========================================================================== */

/*Custom fonts*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);

/*Pushes down content from fixed menubar*/
body {
	padding-top:50px;
	font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Droid Serif', serif;
}

/*Button styles*/
.btn {
	border-radius:0;
}

/* ==========================================================================
Navigation
========================================================================== */
.navbar {
	border-bottom:0;
}

.navbar li a:hover {
	background-color:#eee;
	color:#222;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
  border-radius: 0;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  color: white;
  text-align: center;
  background-image:none;
  background-color:#222;
}

.nav-justified > li:first-child > a {
  border-radius: 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0;
}
.navbar-inverse .navbar-toggle {
	border:none;
}
/* ==========================================================================
Forside
========================================================================== */
#splash {
	height:500px;
	background-position:cover;
	background-size:cover;
}

#logo {
	max-width:200px;
	margin-top:50px;
}

.splash-container {
	display:table;
	width:100%;
	height:100%;
	position:relative;
}

.splash-inner {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

/* ==========================================================================
Byggerier
========================================================================== */
#byggerier h2 {
	padding-top:0;
	margin-top:0;
}

#byggerier .row  .row {
	margin-bottom:20px;
}

#sidebar {
	margin-top:90px;
}

/* ==========================================================================
Individuelle projekter
========================================================================== */
#projekt #image-carousel {
	margin-top:20px;
}

#projekt .container {
	padding-bottom:20px;
}

/* ==========================================================================
Kontakt
========================================================================== */
#map-canvas {
	height:300px;
	margin-top:20px;
}

/* ==========================================================================
Tegnestuen
========================================================================== */


/* ==========================================================================
Footer
========================================================================== */
.footer-text {
	margin-top:15px;
	text-align:center;
	color:grey;
}

.footer-text:hover {
	color:white;
	cursor:default;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color:#222;
}










